@charset "UTF-8";

* {
	text-decoration: none;
	font-family: sans-serif;
}

body {
	background: linear-gradient(45deg, rgb(44, 181, 232), rgb(71, 207, 115));
}

table {
	text-align: left;
}

.regiForm {
	position: absolute;
	width: 500px;
	height: 700px;
	padding: 30px 20px;
	margin: 150px 0;
	background-color: #FFFFFF;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
}

.regiForm h2 {
	text-align: center;
	margin: 30px;
}

.regiTitle {
	width: 80px;
}

input {
	margin: 0;
}

input[type="text"] {
	width: 70%;
	height: 100%;
	border: none;
	color: #636e72;
	font-size: 16px;
	padding-left: 5px;
	display: inline;
	outline: none;
	box-sizing: border-box;
	border-bottom: 2px solid #adadad;
	padding: 10px 10px;
}

input[type="password"] {
	width: 70%;
	height: 100%;
	border: none;
	color: #636e72;
	font-size: 16px;
	padding-left: 5px;
	display: inline;
	outline: none;
	box-sizing: border-box;
	border-bottom: 2px solid #adadad;
	padding: 10px 10px;
}

input[type=button] {
	outline: none;
	width: 30%;
	height: 100%;
	text-align:center;
	background: #fff;
	border-radius: 40px;
	border: 2px solid #1ECD97;
	color: #1ECD97;
	letter-spacing: 1px;
	text-shadow:0;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s ease;
	display: inline;
	margin-left: -10px;
	box-sizing: border-box;
}

input[type=button]:hover {
	color: white;
	background-color: #1ECD97;
}
#idcheckbtn input[type=button]:after {
	content:"중복확인";
}
#postFind input[type=button]:after {
	content:"우편번호 찾기";
}
#makeAddr input[type=button]:after {
	content:"주소만들기";
}
#account {
	position: relative;
	left: 40%;
	transform: translateX(-50%);
	margin: 20px 0 40px 0;
	width: 80%;
	height: 40px;
	background: linear-gradient(45deg, rgb(44, 181, 232), rgb(71, 207, 115));
	background-position: left;
	background-size: 200%;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}

#acoount:hover {
	background-position: right;
}